@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
*, ::after, ::before {
    box-sizing: border-box;
}
html {
    font-family: 'Nanum Gothic', sans-serif;
    height: 100%;
}

body {
    text-align: center;
    max-width: 500px;
    min-width: 320px;
    margin: 0 auto;
    background-color: #f6f6f6;
    padding: 10px;
}

ul, ol {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

a, a:visited, a:hover, a:active, a:link  {
    text-decoration: none;
}

header h1 {
    color: #fff;
    background: linear-gradient(90deg, #6478fb, #8763fb);
    font-weight: 900;
    border-radius: 1rem;
    padding: 2.5rem 0;
}
h1, p{
    margin: 0;
    padding: 0;
}
.block {
    display: block;
}
.mgt10 {
    margin-top: 10px;
}
.w100 {
    width: 100%;
}
.btn {
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s
        ease-in-out,background-color .15s
        ease-in-out,border-color .15s
        ease-in-out,box-shadow .15s ease-in-out;
    color: #fff;
    background: linear-gradient(90deg, #6478fb, #8763fb);
    border: 0;
    outline: 0;
}
.btn:focus {
    outline: #8763fb;
}