main {

}
.board-wrapper {
    position: relative;
}
.board-list {
    margin: 10px 0;
}
.board-list li:first-child {
    border-top-width: 1px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.board-list li:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.board-list li {
    border: 1px solid rgba(0,0,0,.125);
    background: #fff;
    border-top-width: 0;
}
.board-item {
    padding: 8px;
}
.board-item .item-header {
    font-weight: 900;
    text-align: left;
    font-size: 17px;
    padding: 10px;
    cursor: pointer;
}
.board-item .item-content p{
    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.board-item .item-footer {
    text-align: right;
    font-size: 0.5em;
}
.board-item .item-remove {
    padding: 0;
}
.board-pagnation {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}
.board-pagnation div {
    cursor: pointer;
}
.board-pagnation div.active {
    cursor: pointer;
    pointer-events: none;
    opacity: 0.3;
}


.board-add-container {
    color: #212529;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
    padding: 10px;
    transform: translate(0, -100%);
    position: fixed;
    max-width: 500px;
    min-width: 320px;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 0;
    z-index: 100;
    background: #fff;
    transition: transform 0.3s linear;
}
.board-add-container fieldset {
    margin: 0;
    padding: 0;
    border: 0;
}
.board-add-container label {
    display: block;
    width: 100%;
    padding: 0 9px;
    text-align: left;
}
.board-add-container textarea {
    min-height: 250px;
}
.board-form {
    display: block;
    width: 100%;
    padding: 10px 5px;
    font-size: 15px;
    font-weight: 400;
    background-clip: padding-box;
    background-color: #fff;
    border: 1px solid #ced4da;
    appearance: none;
    border-radius: 5px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin: 10px 0;
}
.board-form:focus {
    color: #212529;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 4px rgb(13 110 253 / 25%);
}

.board-nav {
    position: relative;
    height: 50px;
}
.add-btn {
    position: absolute;
    border-radius: 50%;
    background: linear-gradient(90deg, #6478fb, #8763fb);
    width: 50px;
    height: 50px;
    line-height: 50px;
    color: #fff;
    bottom: 0;
    right: 0;
}
.btn.remove-board {
    background: linear-gradient(90deg, #fb6487, #8763fb);
}
.btn.form-submit {
    background: linear-gradient(90deg, #f264fb, #8763fb);
}